button {
  border: none;
  background: none;
}

.platform__task-button {
  color: $white;
  background-color: $lilla;
  font-size: 17px;
  padding: 12px 20px;
  border-radius: 20px;
  font-weight: $lightSemi;

  @include hover {
    cursor: pointer;
    transition: $regular;
    transform: scale(1.05);
  }
}

.platform__task-theme {
  position: relative;
  max-width: 50px;
  flex: 1 1 50px;
  min-height: 20px;
  border: solid 1px $white;
  border-radius: 20px;
  background-color: $white;
}

.platform__task-scroll {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 100%;
  background-color: $lilla;
  border-radius: 50%;
  transition: $regular;

  @include hover {
    cursor: pointer;
  }
}

.platform__boards-button {
  color: $white;
  font-size: 16px;
  font-weight: $lightSemi;

  @include hover {
    cursor: pointer;
  }
}

.platform__boards-clear {
  position: relative;
  z-index: 20;
  max-width: 25px;
  min-height: 25px;
  cursor: pointer;
}

.platform__boards-close {
  max-width: 100%;
  max-height: 100%;
  filter: invert(100%);
}

.platform__board-btn {
  color: $lilla;
  font-size: 17px;

  @include hover {
    cursor: pointer;
    transition: $regular;
    opacity: 0.8;
  }

  @include tablet {
    font-size: 15px;
  }
}

.platform__confirm-button {
  padding: 12px 25px;
  background-color: $white;
  color: $white;
  font-size: 16px;
  border-radius: 20px;
  margin-right: 10px;
  background-color: $lilla;
  font-weight: $semi;

  @include hover {
    cursor: pointer;
    transition: $regular;
    opacity: 0.8;
    transform: scale(1.05);
  }
}

.platform__subtask-button,
.platform__newTask-button {
  width: 100%;
  font-size: 14px;
  border-radius: 20px;
  font-weight: $semi;
  padding: 15px 0;
  cursor: pointer;
}

.platform__subtask-button {
  background-color: $white;
  color: $lilla;
  margin-bottom: 20px;
}

.platform__newTask-button {
  background-color: $lilla;
  color: $white;
}

.platform__task-remover {
  font-size: 17px;
  font-weight: $semi;
  background-color: $lilla;
  color: $white;
  border-radius: 20px;
  padding: 10px 15px;

  @include hover {
    cursor: pointer;
    background-color: $darkPurple;
    transition: $regular;
  }
}
