button {
  border: none;
  background: none;
}

.platform__task-button {
  color: $white;
  background-color: $lilla;
  font-size: 17px;
  padding: 12px 20px;
  border-radius: 20px;
  font-weight: $lightSemi;

  @include hover {
    cursor: pointer;
    transition: $regular;
    transform: scale(1.05);
  }

  @include phone {
    font-size: 12px;
  }
}

.platform__task-theme {
  position: relative;
  max-width: 50px;
  flex: 1 1 50px;
  min-height: 20px;
  border: solid 1px $white;
  border-radius: 20px;
  background-color: $white;

  @include phone {
    min-height: 17px;
    max-width: 35px;
    flex: 1 1 35px;
  }
}

.platform__task-scroll {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 100%;
  background-color: $lilla;
  border-radius: 50%;
  transition: $regular;

  @include hover {
    cursor: pointer;
  }

  @include phone {
    width: 15px;
  }
}

.platform__boards-button {
  color: $white;
  font-size: 16px;
  font-weight: $lightSemi;

  @include hover {
    cursor: pointer;
  }

  @include tablet {
    font-size: 14px;
  }
}

.platform__boards-clear,
.platform__new-subtaskBtn {
  position: relative;
  z-index: 20;
  max-width: 25px;
  min-height: 25px;
  cursor: pointer;
}

.platform__boards-close,
.platform__subtask-close,
.platform__close-setup,
.platform__responsive-show {
  max-width: 100%;
  max-height: 100%;
  filter: invert(100%);
  cursor: pointer;
}

.platform__task-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;

  @include phone {
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
  }
}

.platform__board-btn {
  color: $lilla;
  font-size: 17px;

  @include hover {
    cursor: pointer;
    transition: $regular;
    opacity: 0.8;
  }

  @include tablet {
    font-size: 15px;
  }
}

.platform__confirm-button {
  padding: 12px 25px;
  background-color: $white;
  color: $white;
  font-size: 16px;
  border-radius: 20px;
  margin-right: 10px;
  background-color: $lilla;
  font-weight: $semi;

  @include hover {
    cursor: pointer;
    transition: $regular;
    opacity: 0.8;
    transform: scale(1.05);
  }
}

.platform__subtask-button,
.platform__newTask-button {
  width: 100%;
  font-size: 14px;
  border-radius: 20px;
  font-weight: $semi;
  padding: 15px 0;
  cursor: pointer;

  @include phone {
    max-width: 55%;
    font-size: 11px;
    padding: 11px 0;
  }
}

.platform__subtask-button {
  background-color: $white;
  color: $lilla;
  margin-bottom: 20px;

  @include phone {
    margin-bottom: 14px;
  }
}

.platform__newTask-button {
  background-color: $lilla;
  color: $white;
}

.platform__task-remover {
  font-size: 17px;
  font-weight: $semi;
  background-color: $lilla;
  color: $white;
  border-radius: 20px;
  padding: 10px 15px;

  @include hover {
    cursor: pointer;
    background-color: $darkPurple;
    transition: $regular;
  }
}

// Delete board
.panel__delete-buttons {
  display: flex;
  justify-content: center;
}

.panel__delete-btn {
  display: block;
  color: $white;
  background-color: $lilla;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: $semi;
}

.platform__responsive-button {
  display: none;
  max-width: 40px;
  flex: 1 1 40px;
  min-height: 40px;

  @include small_tablet {
    display: block;
  }

  @include phone {
    max-width: 35px;
    flex: 1 1 35px;
  }
}

.platform__responsive-button--bar {
  margin: 0 auto;
}
