// Colors
$white: rgba(255, 255, 255, 1);
$lightPurple: rgba(48, 44, 60, 1);
$darkPurple: rgba(40, 36, 44, 1);
$lilla: rgba(100, 96, 192, 1);
$gray: rgba(150, 150, 150, 1);

// Fonts
$roboto: "Roboto";

// Weights
$lightSemi: 500;
$semi: 600;

// Transitions
$regular: all ease-in-out 0.5s;