.platform__confirm-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px 100px;
  background-color: $lightPurple;
  text-align: center;
  border-radius: 20px;
}

.platform__confirm-tag {
  display: block;
  color: $white;
  font-size: 20px;
}

.platform__confirm-input {
  background-color: $white;
  width: 300px;
  height: 35px;
  border-radius: 20px;
  padding: 0 10px;
  margin: 15px 0;
  cursor: pointer;
}

.platform__confirm-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Tasks
.platform__task-setup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  padding: 35px;
  background-color: $lightPurple;
  border-radius: 20px;
}

.platform__task-tag {
  font-size: 20px;
  color: $white;
  margin-bottom: 30px;
}

.platform__task-label,
.platform__task-input {
  display: block;
  color: $white;
}

.platform__task-label {
  margin-bottom: 5px;
  font-size: 14px;
}

.platform__task-input {
  width: 100%;
  height: 40px;
  border: $gray solid 1px;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.platform__task-description {
  padding: 20px 0 120px 10px;
}

.platform__task-chooser {
  width: 100%;
  background: none;
  background-color: $lightPurple;
  color: $white;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-left: 10px;
}

// Status
.platform__task-stats {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px 30px;
  background-color: $lightPurple;
  border-radius: 10px;
  text-align: center;
  color: $white;
}

.platform__task-statsTag {
  display: block;
  font-size: 23px;
  letter-spacing: 1.3px;
  margin-bottom: 2px;
}

.platform__task-date {
  font-size: 13px;
  color: $gray;
}

.platform__task-statsDescription {
  margin: 20px 0;
}
